.reveal {
	pre {
		code.html {
			max-height: initial;
		}
	}
}

.cm-65 {
    max-width: 65ch;
    line-height: 1.5 !important;
    font-size: 1em;
}

.no-style {
    max-width: initial;
    line-height: initial;
    font-size: 1em;
}

[class*="flexbox-example"] > div {
    border:1px solid white;
    width: 30%;
}
.flexbox-example-1  {
    display: flex;
    flex-direction: row-reverse;
}

.flexbox-example-2 {
    display: flex;
    flex-direction: row;
}

.item-1 {order:3}
.item-2 {order:1}
.item-3 {order:2}


// Flexbox Demo taken from CSS Tricks

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }

  td > pre {
    width: 100% !important;
  }
  
  table.font-small pre {
    font-size: 0.45em;
  }

  ul li {
    list-style-type: none;
  }

section.black {
  color:#000;
}
  .emoji::before {
    font-size: 0.9em;
    margin-right: 0.5em;
  }
  .emoji-big {
    font-size: 4em;
  }
  .all1y::before {
    content: '\267F';
  }

  .question::before {
    content: '\2753';
  }

  .computer::before {
    content: '\1F4BB';
  }

  .testing::before {
    content: '\1F527';
  }

  .enviroment::before {
    content: '\1F506';
  }
  .eyeglasses::before {
    content:'\1F453';
  }
  .eyes::before {
    content: '\1F440';
  }
  .ear::before {
    content: '\1F442';
  }

  .nowalk::before {
    content: '\1F6B7';
  }
  .think::before {
    content: "\1F4AD";
  }
  .universal::before {
    content: '\1F30E';
  }
  .people-group-1::before {
    content: '\1F46C';;
  }
  .people-group-2::before {
    content: '\1F46D';
  }
  .people-group-3::before {
    content: '\1F46B';
  }
  .keyboard::before {
    content: '\1F3B9';
  }
  .understandable::before {
    content: '\1F481';
  }
  .robust::before {
    content: '\23F3'
  }
  .bestPractices::before {
    content: '\2714';
  }
  .oldSchool::before {
    content: '\1F47E';
  }
  .dont::before {
    content: '\2716';
  }