.reveal {
	pre {
    background-color: #272822;
    display: table !important;
    table-layout: fixed;
    max-width: 100%;
    margin: 5px 0 !important;
    code {
      max-height: initial !important;
    }
	}
}
.cm-65 {
    max-width: 65ch;
    line-height: 1.5 !important;
    font-size: 1em;
}

.no-style {
    max-width: initial;
    line-height: initial;
    font-size: 1em;
}
[class*="flexbox-example"] {
  margin-bottom: 25px;
}
[class*="flexbox-example"] > div {
    border:1px solid black;
    width: 30%;
}
.flexbox-example-1  {
    display: flex;
    flex-direction: row-reverse;
}

.flexbox-example-2 {
    display: flex;
    flex-direction: row;
}

.item-1 {order:3}
.item-2 {order:1}
.item-3 {order:2}


// Flexbox Demo taken from CSS Tricks

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }

  td > pre {
    width: 100% !important;
  }
  
  table.font-small pre {
    font-size: 0.45em;
  }

  ul li {
    list-style-type: none;
  }

  figure {
   background-color: #000;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
  .emoji::before {
    font-size: 0.9em;
    margin-right: 0.5em;
  }
  .emoji-big {
    font-size: 4em;
  }
  .all1y::before {
    content: '\267F';
  }

  .question::before {
    content: '\2753';
  }

  .computer::before {
    content: '\1F4BB';
  }

  .testing::before {
    content: '\1F527';
  }

  .enviroment::before {
    content: '\1F506';
  }
  .eyeglasses::before {
    content:'\1F453';
  }
  .eyes::before {
    content: '\1F440';
  }
  .ear::before {
    content: '\1F442';
  }

  .nowalk::before {
    content: '\1F6B7';
  }
  .think::before {
    content: "\1F4AD";
  }
  .universal::before {
    content: '\1F30E';
  }
  .people-group-1::before {
    content: '\1F46C';;
  }
  .people-group-2::before {
    content: '\1F46D';
  }
  .people-group-3::before {
    content: '\1F46B';
  }
  .keyboard::before {
    content: '\1F3B9';
  }
  .understandable::before {
    content: '\1F481';
  }
  .robust::before {
    content: '\23F3'
  }
  .bestPractices::before {
    content: '\2714';
  }
  .oldSchool::before {
    content: '\1F47E';
  }
  .dont::before {
    content: '\2716';
  }
  .love::before {
    content: '\1F49D';
    font-size: 4em;
  }
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  